div {
    text-align: center;
    width: 400px;
    background-color: #eee;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    border-right: 2px solid rgb(46, 112, 234);
    border-left: 2px solid rgb(46, 112, 234);
    margin: 20px auto; 
    padding: 20px;
    position: relative; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.top-left, .bottom-left, .top-right, .bottom-right {
    position: absolute;
    width: 30px;
    height: 20px;
    color: white;
    background-color: rgb(46, 112, 234);
    border: 2px solid rgb(46, 112, 234);
    align-items: center;
    font-weight: bold;
}

.top-left {
    top: -15px;
    left: -15px;
    border-left-color: red;
}

.bottom-left {
    bottom: -15px;
    left: -15px;
    border-left-color: red;
}

.top-right {
    top: -15px;
    right: -15px;
    border-right-color: red;
}

.bottom-right {
    bottom: -15px;
    right: -15px;
    border-right-color: red;
}